html{
    font-size:67.5%;
}

body{
    font-size:2rem;
    color:#111;
    background-color:#f7f7f7;
}

#logo{
}

.navbar-brand{
    display:flex;
    align-items:center;
    gap:.8rem;
    font-size:2.8rem;
}

.navbar-brand img{
    max-width:4.8rem;
}

.navbar-brand span{
   font-family: 'Caveat', cursive;
   text-transform:uppercase;
   font-weight:700;
}

#total-orders{
    background-color:#4cb4c7;
}

#orders-delivered{
    background-color:#7abecc;
}

#orders-pending{
    background-color:#7CD1C0;
}

.hello-msg{
  font-size:18px;
  color:#000;
  margin-left:20px;
}

.profile-pic{
    max-width:9.8rem
}